.nav {
    grid-area: nav;
    background-color: #008bf5;
    border-radius: 5px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #98ffb0;
}

ul a.active {
    color: gold;
    text-decoration: none;
}